<h3>Modification d'un pokémon de la liste</h3>
<div *ngIf="!detailsgot; else update">
    <h3>Veuillez entrer l'identifiant du pokémon à modifier</h3>
    <input type="number" [(ngModel)]="poke_id">
    <button (click)="getOnePoke()">Rechercher</button>
</div>

<ng-template #update>
    <h4>Numéro {{pokedetails.id}}: {{pokedetails.name}}</h4>
    <img src="{{pokedetails.sprite}}">
    <p>Taux de capture: {{pokedetails.capture_rate}}</p>

    <form [formGroup]="updateForm" (ngSubmit)="updatePoke()">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="pokename" />
        <label for="capture_rate">Capture rate</label>
        <input type="number" id="capture_rate" formControlName="pokerate" />
        <input type="submit" value="Confirmer modification" />
    </form>

</ng-template>